
body
    //edit()

h1
    color $pink
    font-family "Archer-Medium"
    text-align center
    font-weight normal
    > a
       color $pink
       text-decoration none
       &:hover
          color $pink
       &:visited
          color $pink

div.home
    margin-top 15rem

div.title
    cf()
    > h1
        margin 1rem
        font-size 7.5rem
        line-height 7.5rem
        +below(1240px)
            font-size 6.5rem
            line-height 6.5rem
        > a
            span(1/2)
            shift(1/4)
            +below(1050px)
                span(1)
                shift(0)

div.nav
    span(3/7)
    shift(2/7)
    +below(1050px)
        span(6/7)
        shift(1/14)
    margin-top 1rem
    overflow hidden
    > .nav-item
        span(1/4 3/7)
        text-align center
        font-family "Archer-Book"
        font-size 1.7rem
        +below(1050px)
            span(1/4 6/7)
            text-align center
        &:hover
            font-weight bold
        > a
            text-decoration none
            color black

#article-content
    span(7/12)
    shift(5/24)
    box-sizing border-box
    font-family "Archer-Book"
    border 5px solid $pink
    margin-top 2rem
    padding 1rem 2rem 1rem 2rem
    text-align center
    overflow hidden
    +below(1050px)
        span(6/7)
        shift(1/14)
        text-align center
    > h1
        center()
    > img#resume
        span(1 7/12)
        +below(1050px)
            span(1 6/7)
