
body
    //edit()

h1
    margin 1rem
    color $pink
    font-family "Archer-Medium"
    font-size 6em
    text-align center
    font-weight normal
    > a
       color $pink
       text-decoration none
       &:hover
          color $pink
       &:visited
          color $pink

div.home
    margin-top 10rem

div.title
    cf()
    > h1 a
        span(1/2)
        shift(1/4)

div.nav
    span(3/7)
    shift(2/7)
    overflow hidden
    > .nav-item
        span(1/4 3/7)
        text-align center
        font-family "Archer-Book"
        font-size 1.3em
        &:hover
            font-weight bold
        > a
            text-decoration none
            color black

#article-content
    span(7/12)
    shift(5/24)
    box-sizing border-box
    font-family "Archer-Book"
    border 5px solid $pink
    margin-top 2rem
    padding 0 2rem 1rem 2rem
    text-align center
    font-size 1.1em
    overflow hidden
    > h1
        center()
        font-size 3em
    > img#resume
        width 80em
