@import "susy";
@import "compass/css3";

/* Susy constants */

$total-columns: 16;
$column-width: 3.5em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

/* Colors */

$pink: #EE5789;
$white: #FFF;

/* Dimensions */

$nav-height: 60px;
$title-font-size: 1.35*$column-width;
$headline-font-size: .6*$column-width;
$section-font-size: .5*$column-width;
$body-font-size: .3*$column-width;
$nav-tab-font-size: .45*$column-width; 
$nav-tab-radius: $nav-height/2;

/* Other */

$fonts: Marie, Allura, Dancingscript;

@include font-face(Allura, font-files("/assets/fonts/allura.woff", "/assets/fonts/allura.eot", "/assets/fonts/allura.ttf", "/assets/fonts/allura.svg"));
@include font-face(Dancingscript, font-files("/assets/fonts/dancingscript.woff", "/assets/fonts/dancingscript.eot", "/assets/fonts/dancingscript.ttf", "/assets/fonts/dancingscript.svg"));
@include font-face(Marie, font-files("/assets/fonts/StMarie-Thin-webfont.woff", "/assets/fonts/StMarie-Thin-webfont.eot", "/assets/fonts/StMarie-Thin-webfont.ttf", "/assets/fonts/StMarie-Thin-webfont.svg"));

@mixin content-box {
	background-color: $white;
	text-align: center;
	padding: 0 2em 1em 2em;
	@include border-radius($nav-tab-radius);
	h1 {
		font-size: $headline-font-size;
		padding-top: .4em;
		padding-bottom: .4em;
	}
	h2 {
		font-size: $section-font-size;
	}
	p {
		font-size: $body-font-size;
		padding-top: .2em;
		padding-bottom: .6em;
	}
}

body {
	@include border-box-sizing;
	background-color: $pink;
	text-align: center;
	font-family: $fonts;
	font-weight: 800;
	color: $pink;
	.page {
		@include container($total-columns);
		// @include susy-grid-background;
		// background-color: $light-gray;
		padding-bottom: 2.5em;
		header {
			padding: 1em;
			nav {
				@include span-columns(8);
				@include push(4);
				@include border-radius($nav-tab-radius);
				background-color: $white;
				height: $nav-height;
				clear: both;
				.nav-tab {
					font-size: $nav-tab-font-size;
					height: $nav-height;
					@include with-grid-settings(4,25%,0%,0%) {
						@include span-columns(1);
					}
					&#nav-left {
						@include border-left-radius($nav-tab-radius);
					}
					&#nav-right {
						@include border-right-radius($nav-tab-radius);
					}
					&:hover {
						background-color: $pink;
						color: $white;
						@include opacity(.6);
					}
					p {
						padding-top: 12%;
					}
				}
			}
		}
		#content {
			padding-top: 2em;
			@include span-columns(10,16);
			@include push(3);
			.main {
				@include content-box;
				img {
					max-height: 100%;
					max-width: 100%;
				}
			}
		}
		.sidebar {
			@include span-columns(4,16);
		}
		.footer {
			@include span-columns(8);
			@include push(4);
			clear: both;
		}
	}
}

a {
	color: $pink;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}